*{
    box-sizing: border-box;
}
img{
    width: 100%;
}

ul, li{
    list-style: none;
    display:inline-block;
}

ul, li a{
    text-decoration: none;
}

body{
    font-family: 'Questrial',Arial, Helvetica, sans-serif;
}



/* wrap1 */
#wrap1{
    display: flex;
    background-color: #2056ac;
    color:#fff;
    height: 400px;
}
h1{
    display: block;
    font-size: 56px;
    font-weight: bold;
    margin:0;
}

.travail{
    width: 1200px;
    margin:0 auto;

}
#travail-nav{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.h1-cog{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.fa-cog{
    font-size:56px;
}

#wrap1 .travail nav{
    display: flex;
    justify-content: center;
    width: 100%;    
}

#wrap1 .travail nav ul{
 width: 75%;
 padding-left: 0px;
 text-align: center;
}


#wrap1 .travail nav ul li a:visited{
    color:#fff;
}


/* wrap2 */

figure{
    width: 1200px;
}
hr{
    width: 1200px;
    color:rgba(0,0,0,.2);
}

